# Set default behavior to automatically normalize line endings.
* text=auto

# Declare files that will always have LF line endings on checkout.
*.py text eol=lf
*.js text eol=lf
*.html text eol=lf
*.css text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf

# Denotate binary files (which should not be normalized)
*.mp3 binary
*.mp4 binary
*.wav binary
*.db binary
*.sqlite binary
*.sqlite3 binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
